In [8]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
oo = pd.read_csv("/Users/gouribenni/COURSES SEM 2/GWAR/PROJECTS/drive-download-20230418T181140Z-001/Order.csv")

In [4]:
oo

,Type,Days for shipping (real),Days for shipment (scheduled),Benefit per order,Sales per customer,Delivery Status,Late_delivery_risk,Category Id,Category Name,Customer City,...,Order Item Profit Ratio,Order Item Quantity,Sales,Order Item Total,Order Profit Per Order,Order Region,Order State,Order Status,Order Zipcode,shipping date (DateOrders)
0,DEBIT,3.0,4.0,91.250000,314.640015,Advance shipping,0.0,73.0,Sporting Goods,Caguas,...,0.29,1.0,327.75,314.640015,91.250000,Southeast Asia,Java Occidental,COMPLETE,NaN,2/3/2018 22:56
1,TRANSFER,5.0,4.0,-249.089996,311.359985,Late delivery,1.0,73.0,Sporting Goods,Caguas,...,-0.80,1.0,327.75,311.359985,-249.089996,South Asia,Rajastán,PENDING,NaN,1/18/2018 12:27
2,CASH,4.0,4.0,-247.779999,309.720001,Shipping on time,0.0,73.0,Sporting Goods,San Jose,...,-0.80,1.0,327.75,309.720001,-247.779999,South Asia,Rajastán,CLOSED,NaN,1/17/2018 12:06
3,DEBIT,3.0,4.0,22.860001,304.809998,Advance shipping,0.0,73.0,Sporting Goods,Los Angeles,...,0.08,1.0,327.75,304.809998,22.860001,Oceania,Queensland,COMPLETE,NaN,1/16/2018 11:45
4,PAYMENT,2.0,4.0,134.210007,298.250000,Advance shipping,0.0,73.0,Sporting Goods,Caguas,...,0.45,1.0,327.75,298.250000,134.210007,Oceania,Queensland,PENDING_PAYMENT,NaN,1/15/2018 11:24
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
180651,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1/20/2016 3:40
180652,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1/19/2016 1:34
180653,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1/20/2016 21:00
180654,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1/18/2016 20:18
180655,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1/19/2016 18:54

In [106]:
oo.isnull().sum()

Type                                 74
Days for shipping (real)             74
Days for shipment (scheduled)        74
Benefit per order                    74
Sales per customer                   74
Delivery Status                      74
Late_delivery_risk                   74
Category Id                          74
Category Name                        93
Customer City                        87
Customer Country                     91
Customer Email                       87
Customer Fname                       94
Customer Id                          94
Customer Lname                       97
Customer Password                    94
Customer Segment                     99
Customer State                       89
Customer Street                      74
Customer Zipcode                     77
Department Id                        74
Department Name                      74
Latitude                             98
Longitude                            88
Market                               74
Order City                           74
Order Country                        91
Order Customer Id                    91
order date (DateOrders)              96
Order Id                            137
Order Item Cardprod Id               81
Order Item Discount                  80
Order Item Discount Rate             74
Order Item Id                        74
Order Item Product Price             82
Order Item Profit Ratio              74
Order Item Quantity                  74
Sales                                78
Order Item Total                     79
Order Profit Per Order               74
Order Region                         80
Order State                          87
Order Status                         87
Order Zipcode                    155816
shipping date (DateOrders)           14
dtype: int64

In [107]:
oo.dropna(inplace=True)

In [5]:
oo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 180656 entries, 0 to 180655
Data columns (total 45 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   Type                           180582 non-null  object
 1   Days for shipping (real)       180582 non-null  float64
 2   Days for shipment (scheduled)  180582 non-null  float64
 3   Benefit per order              180582 non-null  float64
 4   Sales per customer             180582 non-null  float64
 5   Delivery Status                180582 non-null  object
 6   Late_delivery_risk             180582 non-null  float64
 7   Category Id                    180582 non-null  float64
 8   Category Name                  180563 non-null  object
 9   Customer City                  180569 non-null  object
 10  Customer Country               180565 non-null  object
 11  Customer Email                 180569 non-null  object
 12  Customer Fname                 180562 non-null  object
 13  Customer Id                    180562 non-null  float64
 14  Customer Lname                 180559 non-null  object
 15  Customer Password              180562 non-null  object
 16  Customer Segment               180557 non-null  object
 17  Customer State                 180567 non-null  object
 18  Customer Street                180582 non-null  object
 19  Customer Zipcode               180579 non-null  float64
 20  Department Id                  180582 non-null  float64
 21  Department Name                180582 non-null  object
 22  Latitude                       180558 non-null  float64
 23  Longitude                      180568 non-null  float64
 24  Market                         180582 non-null  object
 25  Order City                     180582 non-null  object
 26  Order Country                  180565 non-null  object
 27  Order Customer Id              180565 non-null  float64
 28  order date (DateOrders)        180560 non-null  object
 29  Order Id                       180519 non-null  float64
 30  Order Item Cardprod Id         180575 non-null  float64
 31  Order Item Discount            180576 non-null  float64
 32  Order Item Discount Rate       180582 non-null  float64
 33  Order Item Id                  180582 non-null  float64
 34  Order Item Product Price       180574 non-null  float64
 35  Order Item Profit Ratio        180582 non-null  float64
 36  Order Item Quantity            180582 non-null  float64
 37  Sales                          180578 non-null  float64
 38  Order Item Total               180577 non-null  float64
 39  Order Profit Per Order         180582 non-null  float64
 40  Order Region                   180576 non-null  object
 41  Order State                    180569 non-null  object
 42  Order Status                   180569 non-null  object
 43  Order Zipcode                  24840 non-null   float64
 44  shipping date (DateOrders)     180642 non-null  object
dtypes: float64(24), object(21)
memory usage: 62.0+ MB

In [108]:
oo

,Type,Days for shipping (real),Days for shipment (scheduled),Benefit per order,Sales per customer,Delivery Status,Late_delivery_risk,Category Id,Category Name,Customer City,...,Order Item Profit Ratio,Order Item Quantity,Sales,Order Item Total,Order Profit Per Order,Order Region,Order State,Order Status,Order Zipcode,shipping date (DateOrders)
55,PAYMENT,2.0,2.0,22.410000,74.680000,Shipping on time,0.0,13.0,Electronics,Caguas,...,0.30,2.0,89.980003,74.680000,22.410000,West of USA,Washington,PENDING_PAYMENT,99301.0,6/13/2016 15:12
56,PAYMENT,5.0,2.0,25.240000,90.150002,Late delivery,1.0,12.0,Boxing & MMA,Caguas,...,0.28,2.0,109.940002,90.150002,25.240000,West of USA,California,PENDING_PAYMENT,90049.0,8/29/2016 21:45
57,PAYMENT,6.0,2.0,30.570000,117.580002,Late delivery,1.0,17.0,Cleats,Caguas,...,0.26,2.0,119.980003,117.580002,30.570000,West of USA,California,PENDING_PAYMENT,94110.0,4/19/2016 10:12
58,PAYMENT,4.0,2.0,46.070000,95.980003,Late delivery,1.0,17.0,Cleats,Caguas,...,0.48,2.0,119.980003,95.980003,46.070000,US Center,Kansas,PENDING_PAYMENT,66212.0,5/26/2016 14:10
183,TRANSFER,5.0,4.0,28.850000,128.220001,Shipping canceled,0.0,13.0,Electronics,Freeport,...,0.23,3.0,134.970001,128.220001,28.850000,US Center,Texas,SUSPECTED_FRAUD,77041.0,5/13/2016 17:42
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
179402,TRANSFER,5.0,4.0,-178.440002,101.970001,Late delivery,1.0,44.0,Hunting & Shooting,Caguas,...,-1.75,4.0,119.959999,101.970001,-178.440002,West of USA,California,PROCESSING,94110.0,8/21/2016 3:32
179403,TRANSFER,3.0,4.0,28.799999,230.360001,Shipping canceled,0.0,17.0,Cleats,Rio Grande,...,0.13,4.0,239.960007,230.360001,28.799999,West of USA,California,SUSPECTED_FRAUD,94122.0,7/12/2016 3:57
179404,TRANSFER,5.0,4.0,70.190002,215.960007,Shipping canceled,0.0,17.0,Cleats,Caguas,...,0.33,4.0,239.960007,215.960007,70.190002,South of USA,Kentucky,SUSPECTED_FRAUD,42420.0,5/10/2016 17:52
179405,TRANSFER,3.0,4.0,-121.800003,174.000000,Shipping canceled,0.0,24.0,Women's Apparel,Rio Grande,...,-0.70,4.0,200.000000,174.000000,-121.800003,West of USA,California,SUSPECTED_FRAUD,94122.0,7/12/2016 3:57
179406,TRANSFER,4.0,4.0,18.740000,74.970001,Shipping canceled,0.0,40.0,Accessories,Caguas,...,0.25,4.0,99.959999,74.970001,18.740000,East of USA,Pensilvania,SUSPECTED_FRAUD,19143.0,7/5/2016 7:07

In [109]:
oo.isnull().sum()

Type                             0
Days for shipping (real)         0
Days for shipment (scheduled)    0
Benefit per order                0
Sales per customer               0
Delivery Status                  0
Late_delivery_risk               0
Category Id                      0
Category Name                    0
Customer City                    0
Customer Country                 0
Customer Email                   0
Customer Fname                   0
Customer Id                      0
Customer Lname                   0
Customer Password                0
Customer Segment                 0
Customer State                   0
Customer Street                  0
Customer Zipcode                 0
Department Id                    0
Department Name                  0
Latitude                         0
Longitude                        0
Market                           0
Order City                       0
Order Country                    0
Order Customer Id                0
order date (DateOrders)          0
Order Id                         0
Order Item Cardprod Id           0
Order Item Discount              0
Order Item Discount Rate         0
Order Item Id                    0
Order Item Product Price         0
Order Item Profit Ratio          0
Order Item Quantity              0
Sales                            0
Order Item Total                 0
Order Profit Per Order           0
Order Region                     0
Order State                      0
Order Status                     0
Order Zipcode                    0
shipping date (DateOrders)       0
dtype: int64

In [91]:
del oo['Order Zipcode']

In [92]:
oo.isnull().sum()

Type                             0
Days for shipping (real)         0
Days for shipment (scheduled)    0
Benefit per order                0
Sales per customer               0
Delivery Status                  0
Late_delivery_risk               0
Category Id                      0
Category Name                    0
Customer City                    0
Customer Country                 0
Customer Email                   0
Customer Fname                   0
Customer Id                      0
Customer Lname                   0
Customer Password                0
Customer Segment                 0
Customer State                   0
Customer Street                  0
Customer Zipcode                 0
Department Id                    0
Department Name                  0
Latitude                         0
Longitude                        0
Market                           0
Order City                       0
Order Country                    0
Order Customer Id                0
order date (DateOrders)          0
Order Id                         0
Order Item Cardprod Id           0
Order Item Discount              0
Order Item Discount Rate         0
Order Item Id                    0
Order Item Product Price         0
Order Item Profit Ratio          0
Order Item Quantity              0
Sales                            0
Order Item Total                 0
Order Profit Per Order           0
Order Region                     0
Order State                      0
Order Status                     0
shipping date (DateOrders)       0
dtype: int64

In [6]:
pp = pd.read_csv("/Users/gouribenni/COURSES SEM 2/GWAR/PROJECTS/drive-download-20230418T181140Z-001/Product.csv")

In [7]:
pp

,Order Id,Product Card Id,Product Category Id,Product Description,Product Image,Product Name,Product Price,Product Status,Shipping Mode
0,77202.0,1360.0,73.0,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.750000,0,Standard Class
1,75939.0,1360.0,73.0,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.750000,0,Standard Class
2,75938.0,1360.0,73.0,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.750000,0,Standard Class
3,75937.0,1360.0,73.0,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.750000,0,Standard Class
4,75936.0,1360.0,73.0,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.750000,0,Standard Class
...,...,...,...,...,...,...,...,...,...
180651,NaN,1004.0,45.0,NaN,http://images.acmesports.sports/Field+%26+Stre...,Field & Stream Sportsman 16 Gun Fire Safe,399.980011,0,Standard Class
180652,NaN,1004.0,45.0,NaN,http://images.acmesports.sports/Field+%26+Stre...,Field & Stream Sportsman 16 Gun Fire Safe,399.980011,0,Second Class
180653,NaN,1004.0,45.0,NaN,http://images.acmesports.sports/Field+%26+Stre...,Field & Stream Sportsman 16 Gun Fire Safe,399.980011,0,Standard Class
180654,NaN,1004.0,45.0,NaN,http://images.acmesports.sports/Field+%26+Stre...,Field & Stream Sportsman 16 Gun Fire Safe,399.980011,0,Standard Class
180655,NaN,1004.0,45.0,NaN,http://images.acmesports.sports/Field+%26+Stre...,Field & Stream Sportsman 16 Gun Fire Safe,399.980011,0,Standard Class

In [95]:
pp.isnull().sum()

Order Id                  137
Product Card Id            11
Product Category Id        26
Product Description    180656
Product Image              50
Product Name               56
Product Price              29
Product Status              0
Shipping Mode              17
dtype: int64

In [11]:


df500 = pd.read_csv("cleaned_supply_chain.csv")

df400 = merged_df = df_product.merge(df_order, on='Order ID')  
df500

,Type,Delivery_Status,Customer_City,Customer_Country,Customer_Segment,Customer_State,Customer_Street,Department_Name,Market,Order_City,...,Order_Item_Discount,Order_Item_Discount_Rate,Order_Item_Product_Price,Order_Item_Profit_Ratio,Sales,Order_Item_Total,Order_Profit_Per_Order,Product_Price,order_date,shipping_date
0,DEBIT,Advance shipping,Caguas,Puerto Rico,Consumer,PR,5365 Noble Nectar Island,Fitness,Pacific Asia,Bekasi,...,13.110000,0.04,327.750000,0.29,327.750000,314.640015,91.250000,327.750000,1/31/2018,2/3/2018
1,TRANSFER,Late delivery,Caguas,Puerto Rico,Consumer,PR,2679 Rustic Loop,Fitness,Pacific Asia,Bikaner,...,16.389999,0.05,327.750000,-0.80,327.750000,311.359985,-249.089996,327.750000,1/13/2018,1/18/2018
2,CASH,Shipping on time,San Jose,EE. UU.,Consumer,CA,8510 Round Bear Gate,Fitness,Pacific Asia,Bikaner,...,18.030001,0.06,327.750000,-0.80,327.750000,309.720001,-247.779999,327.750000,1/13/2018,1/17/2018
3,DEBIT,Advance shipping,Los Angeles,EE. UU.,Home Office,CA,3200 Amber Bend,Fitness,Pacific Asia,Townsville,...,22.940001,0.07,327.750000,0.08,327.750000,304.809998,22.860001,327.750000,1/13/2018,1/16/2018
4,PAYMENT,Advance shipping,Caguas,Puerto Rico,Corporate,PR,8671 Iron Anchor Corners,Fitness,Pacific Asia,Townsville,...,29.500000,0.09,327.750000,0.45,327.750000,298.250000,134.210007,327.750000,1/13/2018,1/15/2018
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
180514,CASH,Shipping on time,Brooklyn,EE. UU.,Home Office,NY,1322 Broad Glade,Fan Shop,Pacific Asia,Shanghái,...,0.000000,0.00,399.980011,0.10,399.980011,399.980011,40.000000,399.980011,1/16/2016,1/20/2016
180515,DEBIT,Late delivery,Bakersfield,EE. UU.,Corporate,CA,7330 Broad Apple Moor,Fan Shop,Pacific Asia,Hirakata,...,4.000000,0.01,399.980011,-1.55,399.980011,395.980011,-613.770019,399.980011,1/16/2016,1/19/2016
180516,TRANSFER,Late delivery,Bristol,EE. UU.,Corporate,CT,97 Burning Landing,Fan Shop,Pacific Asia,Adelaide,...,8.000000,0.02,399.980011,0.36,399.980011,391.980011,141.110001,399.980011,1/15/2016,1/20/2016
180517,PAYMENT,Advance shipping,Caguas,Puerto Rico,Consumer,PR,2585 Silent Autumn Landing,Fan Shop,Pacific Asia,Adelaide,...,12.000000,0.03,399.980011,0.48,399.980011,387.980011,186.229996,399.980011,1/15/2016,1/18/2016
180518,PAYMENT,Shipping on time,Caguas,Puerto Rico,Consumer,PR,697 Little Meadow,Fan Shop,Pacific Asia,Nagercoil,...,16.000000,0.04,399.980011,0.44,399.980011,383.980011,168.949997,399.980011,1/15/2016,1/19/2016

In [8]:
pp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 180656 entries, 0 to 180655
Data columns (total 9 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   Order Id             180519 non-null  float64
 1   Product Card Id      180645 non-null  float64
 2   Product Category Id  180630 non-null  float64
 3   Product Description  0 non-null       float64
 4   Product Image        180606 non-null  object
 5   Product Name         180600 non-null  object
 6   Product Price        180627 non-null  float64
 7   Product Status       180656 non-null  int64
 8   Shipping Mode        180639 non-null  object
dtypes: float64(5), int64(1), object(3)
memory usage: 12.4+ MB

In [98]:
del pp['Product Description']

In [99]:
pp.isnull().sum()

Order Id               0.0
Product Card Id        0.0
Product Category Id    0.0
Product Image          0.0
Product Name           0.0
Product Price          0.0
Product Status         0.0
Shipping Mode          0.0
dtype: float64

In [27]:
df1.apply(pd.to_numeric)

Empty DataFrame
Columns: [Order Id, Product Card Id, Product Category Id, Product Image, Product Name, Product Price, Product Status, Shipping Mode]
Index: []

In [29]:
df1.isnull().sum()

Order Id               0.0
Product Card Id        0.0
Product Category Id    0.0
Product Image          0.0
Product Name           0.0
Product Price          0.0
Product Status         0.0
Shipping Mode          0.0
dtype: float64

In [31]:
cols = ['Order Id', 'Product Card Id', 'Product Category Id', 'Product Image', 'Product Name', 'Product Price',
       'Product Status', 'Shipping Mode']
df1[cols] = df1[cols].applymap(np.int64)
print(df)

            Type  Days for shipping (real)  Days for shipment (scheduled)  \
55       PAYMENT                       2.0                            2.0
56       PAYMENT                       5.0                            2.0
57       PAYMENT                       6.0                            2.0
58       PAYMENT                       4.0                            2.0
183     TRANSFER                       5.0                            4.0
...          ...                       ...                            ...
179402  TRANSFER                       5.0                            4.0
179403  TRANSFER                       3.0                            4.0
179404  TRANSFER                       5.0                            4.0
179405  TRANSFER                       3.0                            4.0
179406  TRANSFER                       4.0                            4.0

        Benefit per order  Sales per customer    Delivery Status  \
55              22.410000           74.680000   Shipping on time
56              25.240000           90.150002      Late delivery
57              30.570000          117.580002      Late delivery
58              46.070000           95.980003      Late delivery
183             28.850000          128.220001  Shipping canceled
...                   ...                 ...                ...
179402        -178.440002          101.970001      Late delivery
179403          28.799999          230.360001  Shipping canceled
179404          70.190002          215.960007  Shipping canceled
179405        -121.800003          174.000000  Shipping canceled
179406          18.740000           74.970001  Shipping canceled

        Late_delivery_risk  Category Id       Category Name Customer City  \
55                     0.0         13.0         Electronics        Caguas
56                     1.0         12.0        Boxing & MMA        Caguas
57                     1.0         17.0              Cleats        Caguas
58                     1.0         17.0              Cleats        Caguas
183                    0.0         13.0         Electronics      Freeport
...                    ...          ...                 ...           ...
179402                 1.0         44.0  Hunting & Shooting        Caguas
179403                 0.0         17.0              Cleats    Rio Grande
179404                 0.0         17.0              Cleats        Caguas
179405                 0.0         24.0     Women's Apparel    Rio Grande
179406                 0.0         40.0         Accessories        Caguas

        ... Order Item Product Price Order Item Profit Ratio  \
55      ...                44.990002                    0.30
56      ...                54.970001                    0.28
57      ...                59.990002                    0.26
58      ...                59.990002                    0.48
183     ...                44.990002                    0.23
...     ...                      ...                     ...
179402  ...                29.990000                   -1.75
179403  ...                59.990002                    0.13
179404  ...                59.990002                    0.33
179405  ...                50.000000                   -0.70
179406  ...                24.990000                    0.25

       Order Item Quantity       Sales Order Item Total  \
55                     2.0   89.980003        74.680000
56                     2.0  109.940002        90.150002
57                     2.0  119.980003       117.580002
58                     2.0  119.980003        95.980003
183                    3.0  134.970001       128.220001
...                    ...         ...              ...
179402                 4.0  119.959999       101.970001
179403                 4.0  239.960007       230.360001
179404                 4.0  239.960007       215.960007
179405                 4.0  200.000000       174.000000
179406                 4.0   99.959999        74.970001

       Order Profit Per Order    Order Region  Order State     Order Status  \
55                  22.410000    West of USA    Washington  PENDING_PAYMENT
56                  25.240000    West of USA    California  PENDING_PAYMENT
57                  30.570000    West of USA    California  PENDING_PAYMENT
58                  46.070000      US Center        Kansas  PENDING_PAYMENT
183                 28.850000      US Center         Texas  SUSPECTED_FRAUD
...                       ...             ...          ...              ...
179402            -178.440002    West of USA    California       PROCESSING
179403              28.799999    West of USA    California  SUSPECTED_FRAUD
179404              70.190002  South of  USA      Kentucky  SUSPECTED_FRAUD
179405            -121.800003    West of USA    California  SUSPECTED_FRAUD
179406              18.740000     East of USA  Pensilvania  SUSPECTED_FRAUD

        shipping date (DateOrders)
55                 6/13/2016 15:12
56                 8/29/2016 21:45
57                 4/19/2016 10:12
58                 5/26/2016 14:10
183                5/13/2016 17:42
...                            ...
179402              8/21/2016 3:32
179403              7/12/2016 3:57
179404             5/10/2016 17:52
179405              7/12/2016 3:57
179406               7/5/2016 7:07

[24840 rows x 44 columns]

In [32]:
df1.isnull().sum()

Order Id               0.0
Product Card Id        0.0
Product Category Id    0.0
Product Image          0.0
Product Name           0.0
Product Price          0.0
Product Status         0.0
Shipping Mode          0.0
dtype: float64

In [110]:
df.columns

Index(['Type', 'Days for shipping (real)', 'Days for shipment (scheduled)',
       'Benefit per order', 'Sales per customer', 'Delivery Status',
       'Late_delivery_risk', 'Category Id', 'Category Name', 'Customer City',
       'Customer Country', 'Customer Email', 'Customer Fname', 'Customer Id',
       'Customer Lname', 'Customer Password', 'Customer Segment',
       'Customer State', 'Customer Street', 'Customer Zipcode',
       'Department Id', 'Department Name', 'Latitude', 'Longitude', 'Market',
       'Order City', 'Order Country', 'Order Customer Id',
       'order date (DateOrders)', 'Order Id', 'Order Item Cardprod Id',
       'Order Item Discount', 'Order Item Discount Rate', 'Order Item Id',
       'Order Item Product Price', 'Order Item Profit Ratio',
       'Order Item Quantity', 'Sales', 'Order Item Total',
       'Order Profit Per Order', 'Order Region', 'Order State', 'Order Status',
       'shipping date (DateOrders)', 'date', 'DateOrders', 'Shipping Date',
       'Order Date'],
      dtype='object')

In [114]:
df[['shipping date (DateOrders)', 'order date (DateOrders)', 'Order Id']].head(15)

    shipping date (DateOrders) order date (DateOrders)  Order Id
55                  2016-06-13              2016-06-11     36146
56                  2016-08-29              2016-08-24     41234
57                  2016-04-19              2016-04-13     32090
58                  2016-05-26              2016-05-22     34773
183                 2016-05-13              2016-05-08     33824
184                 2016-04-07              2016-04-02     31364
185                 2016-08-20              2016-08-14     40495
186                 2016-04-07              2016-04-02     31364
187                 2016-05-20              2016-05-18     34506
188                 2016-05-08              2016-05-05     33607
189                 2016-04-24              2016-04-21     32617
190                 2016-07-03              2016-07-01     37496
191                 2016-04-24              2016-04-21     32617
193                 2016-05-13              2016-05-08     33824
196                 2016-07-29              2016-07-27     39271

In [36]:
df['date'] = pd.to_datetime(df['shipping date (DateOrders)']).dt.date
df

,Type,Days for shipping (real),Days for shipment (scheduled),Benefit per order,Sales per customer,Delivery Status,Late_delivery_risk,Category Id,Category Name,Customer City,...,Order Item Profit Ratio,Order Item Quantity,Sales,Order Item Total,Order Profit Per Order,Order Region,Order State,Order Status,shipping date (DateOrders),date
55,PAYMENT,2.0,2.0,22.410000,74.680000,Shipping on time,0.0,13.0,Electronics,Caguas,...,0.30,2.0,89.980003,74.680000,22.410000,West of USA,Washington,PENDING_PAYMENT,6/13/2016 15:12,2016-06-13
56,PAYMENT,5.0,2.0,25.240000,90.150002,Late delivery,1.0,12.0,Boxing & MMA,Caguas,...,0.28,2.0,109.940002,90.150002,25.240000,West of USA,California,PENDING_PAYMENT,8/29/2016 21:45,2016-08-29
57,PAYMENT,6.0,2.0,30.570000,117.580002,Late delivery,1.0,17.0,Cleats,Caguas,...,0.26,2.0,119.980003,117.580002,30.570000,West of USA,California,PENDING_PAYMENT,4/19/2016 10:12,2016-04-19
58,PAYMENT,4.0,2.0,46.070000,95.980003,Late delivery,1.0,17.0,Cleats,Caguas,...,0.48,2.0,119.980003,95.980003,46.070000,US Center,Kansas,PENDING_PAYMENT,5/26/2016 14:10,2016-05-26
183,TRANSFER,5.0,4.0,28.850000,128.220001,Shipping canceled,0.0,13.0,Electronics,Freeport,...,0.23,3.0,134.970001,128.220001,28.850000,US Center,Texas,SUSPECTED_FRAUD,5/13/2016 17:42,2016-05-13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
179402,TRANSFER,5.0,4.0,-178.440002,101.970001,Late delivery,1.0,44.0,Hunting & Shooting,Caguas,...,-1.75,4.0,119.959999,101.970001,-178.440002,West of USA,California,PROCESSING,8/21/2016 3:32,2016-08-21
179403,TRANSFER,3.0,4.0,28.799999,230.360001,Shipping canceled,0.0,17.0,Cleats,Rio Grande,...,0.13,4.0,239.960007,230.360001,28.799999,West of USA,California,SUSPECTED_FRAUD,7/12/2016 3:57,2016-07-12
179404,TRANSFER,5.0,4.0,70.190002,215.960007,Shipping canceled,0.0,17.0,Cleats,Caguas,...,0.33,4.0,239.960007,215.960007,70.190002,South of USA,Kentucky,SUSPECTED_FRAUD,5/10/2016 17:52,2016-05-10
179405,TRANSFER,3.0,4.0,-121.800003,174.000000,Shipping canceled,0.0,24.0,Women's Apparel,Rio Grande,...,-0.70,4.0,200.000000,174.000000,-121.800003,West of USA,California,SUSPECTED_FRAUD,7/12/2016 3:57,2016-07-12
179406,TRANSFER,4.0,4.0,18.740000,74.970001,Shipping canceled,0.0,40.0,Accessories,Caguas,...,0.25,4.0,99.959999,74.970001,18.740000,East of USA,Pensilvania,SUSPECTED_FRAUD,7/5/2016 7:07,2016-07-05

In [115]:
df[['shipping date (DateOrders)','Order Id']]

       shipping date (DateOrders)  Order Id
55                     2016-06-13     36146
56                     2016-08-29     41234
57                     2016-04-19     32090
58                     2016-05-26     34773
183                    2016-05-13     33824
...                           ...       ...
179402                 2016-08-21     40634
179403                 2016-07-12     38032
179404                 2016-05-10     33619
179405                 2016-07-12     38032
179406                 2016-07-05     37493

[24840 rows x 2 columns]

In [48]:
df['DateOrders'] = df['shipping date (DateOrders)'].str.split(' ', expand=True)[0]

In [113]:
df[['shipping date (DateOrders)']

       shipping date (DateOrders)  Order Id
55                     2016-06-13     36146
56                     2016-08-29     41234
57                     2016-04-19     32090
58                     2016-05-26     34773
183                    2016-05-13     33824
...                           ...       ...
179402                 2016-08-21     40634
179403                 2016-07-12     38032
179404                 2016-05-10     33619
179405                 2016-07-12     38032
179406                 2016-07-05     37493

[24840 rows x 2 columns]

In [53]:
df['Shipping Date'] = pd.to_datetime(df['shipping date (DateOrders)'])

In [56]:
df['Shipping Date'].dt.date

55        2016-06-13
56        2016-08-29
57        2016-04-19
58        2016-05-26
183       2016-05-13
             ...
179402    2016-08-21
179403    2016-07-12
179404    2016-05-10
179405    2016-07-12
179406    2016-07-05
Name: Shipping Date, Length: 24840, dtype: object

In [57]:
df['shipping date (DateOrders)'] = df['Shipping Date'].dt.date

In [59]:
df[['shipping date (DateOrders)']]

       shipping date (DateOrders)
55                     2016-06-13
56                     2016-08-29
57                     2016-04-19
58                     2016-05-26
183                    2016-05-13
...                           ...
179402                 2016-08-21
179403                 2016-07-12
179404                 2016-05-10
179405                 2016-07-12
179406                 2016-07-05

[24840 rows x 1 columns]

In [60]:
df.columns

Index(['Type', 'Days for shipping (real)', 'Days for shipment (scheduled)',
       'Benefit per order', 'Sales per customer', 'Delivery Status',
       'Late_delivery_risk', 'Category Id', 'Category Name', 'Customer City',
       'Customer Country', 'Customer Email', 'Customer Fname', 'Customer Id',
       'Customer Lname', 'Customer Password', 'Customer Segment',
       'Customer State', 'Customer Street', 'Customer Zipcode',
       'Department Id', 'Department Name', 'Latitude', 'Longitude', 'Market',
       'Order City', 'Order Country', 'Order Customer Id',
       'order date (DateOrders)', 'Order Id', 'Order Item Cardprod Id',
       'Order Item Discount', 'Order Item Discount Rate', 'Order Item Id',
       'Order Item Product Price', 'Order Item Profit Ratio',
       'Order Item Quantity', 'Sales', 'Order Item Total',
       'Order Profit Per Order', 'Order Region', 'Order State', 'Order Status',
       'shipping date (DateOrders)', 'date', 'DateOrders', 'Shipping Date'],
      dtype='object')

In [61]:
df['Order Date'] = pd.to_datetime(df['order date (DateOrders)'])

In [63]:
df['Order Date'].dt.date

55        2016-06-11
56        2016-08-24
57        2016-04-13
58        2016-05-22
183       2016-05-08
             ...
179402    2016-08-16
179403    2016-07-09
179404    2016-05-05
179405    2016-07-09
179406    2016-07-01
Name: Order Date, Length: 24840, dtype: object

In [65]:
df['order date (DateOrders)'] = df['Order Date'].dt.date

In [70]:
df[['order date (DateOrders)', 'shipping date (DateOrders)']]

       order date (DateOrders) shipping date (DateOrders)
55                  2016-06-11                 2016-06-13
56                  2016-08-24                 2016-08-29
57                  2016-04-13                 2016-04-19
58                  2016-05-22                 2016-05-26
183                 2016-05-08                 2016-05-13
...                        ...                        ...
179402              2016-08-16                 2016-08-21
179403              2016-07-09                 2016-07-12
179404              2016-05-05                 2016-05-10
179405              2016-07-09                 2016-07-12
179406              2016-07-01                 2016-07-05

[24840 rows x 2 columns]

In [71]:
df.dtypes

Type                                     object
Days for shipping (real)                float64
Days for shipment (scheduled)           float64
Benefit per order                       float64
Sales per customer                      float64
Delivery Status                          object
Late_delivery_risk                      float64
Category Id                             float64
Category Name                            object
Customer City                            object
Customer Country                         object
Customer Email                           object
Customer Fname                           object
Customer Id                             float64
Customer Lname                           object
Customer Password                        object
Customer Segment                         object
Customer State                           object
Customer Street                          object
Customer Zipcode                        float64
Department Id                           float64
Department Name                          object
Latitude                                float64
Longitude                               float64
Market                                   object
Order City                               object
Order Country                            object
Order Customer Id                       float64
order date (DateOrders)                  object
Order Id                                float64
Order Item Cardprod Id                  float64
Order Item Discount                     float64
Order Item Discount Rate                float64
Order Item Id                           float64
Order Item Product Price                float64
Order Item Profit Ratio                 float64
Order Item Quantity                     float64
Sales                                   float64
Order Item Total                        float64
Order Profit Per Order                  float64
Order Region                             object
Order State                              object
Order Status                             object
shipping date (DateOrders)               object
date                                     object
DateOrders                               object
Shipping Date                    datetime64[ns]
Order Date                       datetime64[ns]
dtype: object

In [72]:
df['Order Id'] = df['Order Id'].apply(np.int64)

In [77]:
df[['Order Id']].head(15)

     Order Id
55      36146
56      41234
57      32090
58      34773
183     33824
184     31364
185     40495
186     31364
187     34506
188     33607
189     32617
190     37496
191     32617
193     33824
196     39271

In [78]:
df

,Type,Days for shipping (real),Days for shipment (scheduled),Benefit per order,Sales per customer,Delivery Status,Late_delivery_risk,Category Id,Category Name,Customer City,...,Order Item Total,Order Profit Per Order,Order Region,Order State,Order Status,shipping date (DateOrders),date,DateOrders,Shipping Date,Order Date
55,PAYMENT,2.0,2.0,22.410000,74.680000,Shipping on time,0.0,13.0,Electronics,Caguas,...,74.680000,22.410000,West of USA,Washington,PENDING_PAYMENT,2016-06-13,2016-06-13,6/13/2016,2016-06-13 15:12:00,2016-06-11 15:12:00
56,PAYMENT,5.0,2.0,25.240000,90.150002,Late delivery,1.0,12.0,Boxing & MMA,Caguas,...,90.150002,25.240000,West of USA,California,PENDING_PAYMENT,2016-08-29,2016-08-29,8/29/2016,2016-08-29 21:45:00,2016-08-24 21:45:00
57,PAYMENT,6.0,2.0,30.570000,117.580002,Late delivery,1.0,17.0,Cleats,Caguas,...,117.580002,30.570000,West of USA,California,PENDING_PAYMENT,2016-04-19,2016-04-19,4/19/2016,2016-04-19 10:12:00,2016-04-13 10:12:00
58,PAYMENT,4.0,2.0,46.070000,95.980003,Late delivery,1.0,17.0,Cleats,Caguas,...,95.980003,46.070000,US Center,Kansas,PENDING_PAYMENT,2016-05-26,2016-05-26,5/26/2016,2016-05-26 14:10:00,2016-05-22 14:10:00
183,TRANSFER,5.0,4.0,28.850000,128.220001,Shipping canceled,0.0,13.0,Electronics,Freeport,...,128.220001,28.850000,US Center,Texas,SUSPECTED_FRAUD,2016-05-13,2016-05-13,5/13/2016,2016-05-13 17:42:00,2016-05-08 17:42:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
179402,TRANSFER,5.0,4.0,-178.440002,101.970001,Late delivery,1.0,44.0,Hunting & Shooting,Caguas,...,101.970001,-178.440002,West of USA,California,PROCESSING,2016-08-21,2016-08-21,8/21/2016,2016-08-21 03:32:00,2016-08-16 03:32:00
179403,TRANSFER,3.0,4.0,28.799999,230.360001,Shipping canceled,0.0,17.0,Cleats,Rio Grande,...,230.360001,28.799999,West of USA,California,SUSPECTED_FRAUD,2016-07-12,2016-07-12,7/12/2016,2016-07-12 03:57:00,2016-07-09 03:57:00
179404,TRANSFER,5.0,4.0,70.190002,215.960007,Shipping canceled,0.0,17.0,Cleats,Caguas,...,215.960007,70.190002,South of USA,Kentucky,SUSPECTED_FRAUD,2016-05-10,2016-05-10,5/10/2016,2016-05-10 17:52:00,2016-05-05 17:52:00
179405,TRANSFER,3.0,4.0,-121.800003,174.000000,Shipping canceled,0.0,24.0,Women's Apparel,Rio Grande,...,174.000000,-121.800003,West of USA,California,SUSPECTED_FRAUD,2016-07-12,2016-07-12,7/12/2016,2016-07-12 03:57:00,2016-07-09 03:57:00
179406,TRANSFER,4.0,4.0,18.740000,74.970001,Shipping canceled,0.0,40.0,Accessories,Caguas,...,74.970001,18.740000,East of USA,Pensilvania,SUSPECTED_FRAUD,2016-07-05,2016-07-05,7/5/2016,2016-07-05 07:07:00,2016-07-01 07:07:00

In [100]:
oo

,Type,Days for shipping (real),Days for shipment (scheduled),Benefit per order,Sales per customer,Delivery Status,Late_delivery_risk,Category Id,Category Name,Customer City,...,Order Item Product Price,Order Item Profit Ratio,Order Item Quantity,Sales,Order Item Total,Order Profit Per Order,Order Region,Order State,Order Status,shipping date (DateOrders)
55,PAYMENT,2.0,2.0,22.410000,74.680000,Shipping on time,0.0,13.0,Electronics,Caguas,...,44.990002,0.30,2.0,89.980003,74.680000,22.410000,West of USA,Washington,PENDING_PAYMENT,6/13/2016 15:12
56,PAYMENT,5.0,2.0,25.240000,90.150002,Late delivery,1.0,12.0,Boxing & MMA,Caguas,...,54.970001,0.28,2.0,109.940002,90.150002,25.240000,West of USA,California,PENDING_PAYMENT,8/29/2016 21:45
57,PAYMENT,6.0,2.0,30.570000,117.580002,Late delivery,1.0,17.0,Cleats,Caguas,...,59.990002,0.26,2.0,119.980003,117.580002,30.570000,West of USA,California,PENDING_PAYMENT,4/19/2016 10:12
58,PAYMENT,4.0,2.0,46.070000,95.980003,Late delivery,1.0,17.0,Cleats,Caguas,...,59.990002,0.48,2.0,119.980003,95.980003,46.070000,US Center,Kansas,PENDING_PAYMENT,5/26/2016 14:10
183,TRANSFER,5.0,4.0,28.850000,128.220001,Shipping canceled,0.0,13.0,Electronics,Freeport,...,44.990002,0.23,3.0,134.970001,128.220001,28.850000,US Center,Texas,SUSPECTED_FRAUD,5/13/2016 17:42
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
179402,TRANSFER,5.0,4.0,-178.440002,101.970001,Late delivery,1.0,44.0,Hunting & Shooting,Caguas,...,29.990000,-1.75,4.0,119.959999,101.970001,-178.440002,West of USA,California,PROCESSING,8/21/2016 3:32
179403,TRANSFER,3.0,4.0,28.799999,230.360001,Shipping canceled,0.0,17.0,Cleats,Rio Grande,...,59.990002,0.13,4.0,239.960007,230.360001,28.799999,West of USA,California,SUSPECTED_FRAUD,7/12/2016 3:57
179404,TRANSFER,5.0,4.0,70.190002,215.960007,Shipping canceled,0.0,17.0,Cleats,Caguas,...,59.990002,0.33,4.0,239.960007,215.960007,70.190002,South of USA,Kentucky,SUSPECTED_FRAUD,5/10/2016 17:52
179405,TRANSFER,3.0,4.0,-121.800003,174.000000,Shipping canceled,0.0,24.0,Women's Apparel,Rio Grande,...,50.000000,-0.70,4.0,200.000000,174.000000,-121.800003,West of USA,California,SUSPECTED_FRAUD,7/12/2016 3:57
179406,TRANSFER,4.0,4.0,18.740000,74.970001,Shipping canceled,0.0,40.0,Accessories,Caguas,...,24.990000,0.25,4.0,99.959999,74.970001,18.740000,East of USA,Pensilvania,SUSPECTED_FRAUD,7/5/2016 7:07

In [101]:
df.columns

Index(['Type', 'Days for shipping (real)', 'Days for shipment (scheduled)',
       'Benefit per order', 'Sales per customer', 'Delivery Status',
       'Late_delivery_risk', 'Category Id', 'Category Name', 'Customer City',
       'Customer Country', 'Customer Email', 'Customer Fname', 'Customer Id',
       'Customer Lname', 'Customer Password', 'Customer Segment',
       'Customer State', 'Customer Street', 'Customer Zipcode',
       'Department Id', 'Department Name', 'Latitude', 'Longitude', 'Market',
       'Order City', 'Order Country', 'Order Customer Id',
       'order date (DateOrders)', 'Order Id', 'Order Item Cardprod Id',
       'Order Item Discount', 'Order Item Discount Rate', 'Order Item Id',
       'Order Item Product Price', 'Order Item Profit Ratio',
       'Order Item Quantity', 'Sales', 'Order Item Total',
       'Order Profit Per Order', 'Order Region', 'Order State', 'Order Status',
       'shipping date (DateOrders)', 'date', 'DateOrders', 'Shipping Date',
       'Order Date'],
      dtype='object')